/* =========================
   GLOBAL SMOOTH SCROLL
========================= */

html{
    scroll-behavior:smooth;
    scroll-padding-top:90px;
}

html,
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background:#050816;
    font-family:'Poppins',sans-serif;
}

/* Improve Rendering */

*{
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/* Section Scroll */

section{
    position:relative;
    scroll-margin-top:90px;
}

/* Selection */

::selection{
    background:#00e5ff;
    color:#050816;
}

/* Smooth Images */

img{
    display:block;
    max-width:100%;
}

/* Custom Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#050816;
}

::-webkit-scrollbar-thumb{
    border-radius:20px;
    background:linear-gradient(
        to bottom,
        #00e5ff,
        #7b2cff
    );
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(
        to bottom,
        #7b2cff,
        #00e5ff
    );
}

/* Firefox */

html{
    scrollbar-width:thin;
    scrollbar-color:#00e5ff #050816;
}